<!-- Home Page-->
<div id="index">    


    <a href="#" id="arrow_left"><div title="designova" alt="reva"><%= image_tag "arrow_left.png" %></a></div>
     <a href="#" id="arrow_right"><div title="designova" alt="reva"><%= image_tag "arrow_right.png" %></a></div>
    
    <!-- Full Screen Slider-->
    <div id="maximage" class="mc-cycle" style="width: 334px; height: 508px; display: block;">
     
        
    <div class="mc-image " title="reva" style="background-image: url(file://localhost/Users/dorritgeshuri/Desktop/REVA-Retro-Parallax-Responsive-Theme/reva%20v1.0/images/bg/bg1.jpg); position: absolute; top: 0px; left: 0px; display: none; z-index: 3; opacity: 0; width: 334px; height: 508px;" data-href="">
            
            <div class="pattern"></div>
            <div class="in-slide-content" style="display: block;">
                <div class="in-slide-inner">
                    <h1>Reva</h1>
                    <img title="designova" alt="reva" src="images/legends/star.png">
                    <p>Creative Theme</p>
                </div>
            </div>
        </div><div class="mc-image " title="reva" style="background-image: url(file://localhost/Users/dorritgeshuri/Desktop/REVA-Retro-Parallax-Responsive-Theme/reva%20v1.0/images/bg/bg2.jpg); position: absolute; top: 0px; left: 0px; display: none; z-index: 3; width: 334px; height: 508px; opacity: 0;" data-href="">
            
            <div class="pattern"></div>
            <div class="in-slide-content" style="display: block;">
                <div class="in-slide-inner">
                    <h1>Retro</h1>
                    <img title="designova" alt="reva" src="images/legends/star.png">
                    <p>You're gonna love it</p>
                </div>
            </div>
        </div><div class="mc-image " title="reva" style="background-image: url(file://localhost/Users/dorritgeshuri/Desktop/REVA-Retro-Parallax-Responsive-Theme/reva%20v1.0/images/bg/bg3.jpg); position: absolute; top: 0px; left: 0px; display: block; z-index: 4; width: 334px; height: 508px; opacity: 1;" data-href="">
            
            <div class="pattern"></div>
            <div class="in-slide-content" style="display: block;">
                <div class="in-slide-inner">
                    <h1>Coding Cowboy</h1>
                    <img title="designova" alt="reva" src="images/legends/star.png">
                    <p>Easy to use and edit</p>
                </div>
            </div>
        </div></div>
    <!--/Full Screen Slider-->
    

</div>
<!--/Home Page-->